# Database (Postgres)
POSTGRES_USER=easylend
POSTGRES_PASSWORD=easylend_local_pass
POSTGRES_DB=easylend_db

# Redis
REDIS_PASSWORD=easylend_redis_pass

# pgAdmin (Optional Local Dashboard)
PGADMIN_DEFAULT_EMAIL=admin@easylend.com
PGADMIN_DEFAULT_PASSWORD=admin_123

# Production Only Variables (Keep dummy values for local)
SQLBAK_TOKEN=dummy
GHCR_USERNAME=dummy
GHCR_PAT=dummy
NTFY_WEBHOOK_URL=dummy